/*common
1.. section headers
2..opacity hovers
3..section padding (spaces between divs)
4..hover efeect 1 (left to right)
5..hover effect 2 (up to down)
6..container سنطرة المحتوى والكلام*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* css 3 */
}




body{
    font-family: 'PT Sans', sans-serif;
}
header{
    background-color: #fff0f0;
    padding-bottom: 80px;

}
 header .header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.container{
    width: 80%;
    margin: auto;
    
}


.list-unstyled{
    list-style: none;
}

.header-content nav{
      
    text-align: center;
}

.header-content li{
    padding-top: 30px;
    display: inline-block; 
   
}

.header-content img{
    max-width: 170px;
}

.header-content nav ul{
    overflow: hidden;     
}

.header-content nav ul li a{
    color: #747173;
    padding :17px  25px;
    margin: 0 25px;
    display: block;
    font-weight: bolder;
}

li a:hover:not(.active){
    background-color: #2c232925;  
    color: white;  
}

.active{
    background-color:#e0a5cf35 ;    
}

a{
    text-decoration:none;
}
                                   

                                     /*our products*/


.sec-header{
    text-align: center;
    margin-top: 50px;
}

.sec-title{
    font-size: 60px;
    margin-bottom: 10px;
    color:rgb(151, 144, 144);
    
}

.prg{
    font-size: 25px;
    text-align: center;
    color: #c765a6;
}

                                /*category*/
 

.category-item1 img{
    width: auto;
    height: 600px;
    margin-left: 20%;
    margin-right: auto;
}



.category-items{
    margin-top: 80px;
    display: grid;
    grid-template-columns: auto auto ; 
    grid-gap: 200px ;

}

.category-item{
    margin-top: 80px;
    width: 100%;
}

.category-item img{
    width:100% ;
    height: 300px;
    border: 4px solid #e9a69a ;
    
}

 

.category-subtit{
    padding-top: 15px;
    text-align: center;
    color: #58083e;

}

                                    /*footer*/

.footer{
    /*background-color: #e9e9e9;*/
    background-color:#d2bdc4;
    width: 100%;
    height: 30%;
    display: flex;
    margin-bottom: 0;
    align-items: center;
    z-index: 10;
}

.footer .footer-img img{
    float: left;
    flex: 1;
    max-width: 170px;
    margin-left: 200px;    
}


.footer .qa{
    flex: 1;
    max-width:200px ;
    text-align: center;
    margin-left:auto;
    margin-right: auto;
}

.qa h2{
    margin-bottom: 20px;
    line-height: 40px;
    color: #857c7c
}

.qa p{
    line-height: 30px;   
}

.qa ul li {
    list-style: none; 
    margin-top: 20px;  
}

.footer .footer-list{
    flex: 1;
    margin-right: 200px;
    line-height: 20px;
    list-style: none;
    line-height: 30px;
}


